<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Order Trader</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orderbook?symbol=GOOG">View a Tradebook</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/tradehistory?symbol=GOOG">View History</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search a Symbol</button>
                </form>
            </div>
        </nav>

        <!-- Main Body -->
        <div class="container-fluid">
            <div class="row m-4 d-flex justify-content-center">
                <div class="col-8">
                    <main class="card rounded-0">
                        <header class="card-header">
                            <h3 class="text-center">Trade History</h3>
                        </header>
                        <div class="card-body">
                            <!-- Table for Orderbook -->
                            <table class="table">
                                <caption>Trade History on Orderbook</caption>
                                <thead>
                                    <tr>
                                        <th scope="col" class="font-weight-bold">Symbol</th>
                                        <th scope="col" class="font-weight-bold">Timestamp</th>
                                        <th scope="col" class="font-weight-bold">Price</th>
                                        <th scope="col" class="font-weight-bold">Size</th>
                                    </tr>
                                </thead>

                                <!-- Entries -->
                                <tbody>
<!--                                    <tr>
                                        <th scope="row" class="font-weight-bold">GOOG</td>
                                        <td>2020-01-01 12:00:00</td>
                                        <td>$300.00</td>
                                        <td>100</td>
                                    </tr>-->
                                    <tr th:each="transaction : ${transactions}" th:object="${transaction}">
                                        <td th:text="${transaction.finalSymbol}">Transaction Symbol</td>
                                        <td th:text="${#temporals.format(transaction.finalTime, 'dd-MM-yyyy HH:mm:ss')}">Transaction Time</td>
                                        <td th:text="${transaction.finalPrice}">Transaction Price</td>
                                        <td th:text="${transaction.amount}">Transaction Size</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </main>
                </div>
            </div>
        </div>



        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
                integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    </body>

</html>