<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Order Trader</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <!--Dropdown for Orderbook-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            View an Orderbook
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                            <a class="dropdown-item" th:each="sym : ${symbols}" th:object="${sym}" th:href="@{orderbook(symbol=${sym})}" th:text="${sym}">Action</a>
                        </div>
                    </li>
                    <!--End dropdown-->

                    <!--Dropdown for Trade History-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            View Trade History
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                            <a class="dropdown-item" th:each="sym : ${symbols}" th:object="${sym}" th:href="@{tradehistory(symbol=${sym})}" th:text="${sym}">Action</a>
                        </div>
                    </li>
                    <!--End dropdown-->

                </ul>
                <form class="form-inline my-2 my-lg-0" action="orderbook">
                    <input class="form-control mr-sm-2" pattern="[a-zA-Z]{1,45}" oninvalid="this.setCustomValidity('Input must be letters in length between 1-45.')" type="search" placeholder="Search" aria-label="Search" name="symbol">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search a Symbol</button>
                </form>
            </div>
        </nav>

        <!-- Main Body -->
        <div class="container-fluid">
            <div class="row m-4 d-flex justify-content-center">
                <div class="col-8">
                    <main class="card rounded-0">
                        <header class="card-header">
                            <h3 class="text-center">Trade History for <span th:text="${symbol}"></span></h3>
                        </header>
                        <div class="card-body">
                            <div class=" mb-4 d-flex justify-content-between">
                                <form>
                                    <input type="hidden" name="symbol" th:value="${symbol}"/>
                                    <button class="btn btn-primary btn-sm" th:formaction="@{/orderbook(symbol=${symbol})}">Orderbook for <span th:text="${symbol}"></span></button>
                                </form>

                                <!-- Button trigger modal -->
                                <form>
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#chartInfo">
                                        View Charts
                                    </button>
                                </form>

                                <form class="form-inline" action="tradehistory" method="GET">
                                    <div class="form-group">
                                        <div class="col-9">
                                            <input type="date" name="dateString" 
                                                   id="dateString" class="form-control"/>
                                        </div>
                                    </div>
                                    <input type="hidden" name="symbol" th:value="${symbol}"/>
                                    <button type="submit" class="btn btn-primary btn-sm">Find for Date</button>
                                </form>
                            </div>
                            <!-- Table for Orderbook -->
                            <table class="table">
                                <caption>Trade History on <span th:text="${symbol}"></span></caption>
                                <thead>
                                    <tr>
                                        <!--                                        <th scope="col" class="font-weight-bold">Symbol</th>-->
                                        <th scope="col" class="font-weight-bold">Timestamp</th>
                                        <th scope="col" class="font-weight-bold">Price</th>
                                        <th scope="col" class="font-weight-bold">Size</th>
                                    </tr>
                                </thead>
                                <!-- Entries -->
                                <tbody>
                                    <tr th:each="transaction : ${transactions}" th:object="${transaction}">
                                        <!--<td th:text="${transaction.finalSymbol}">Transaction Symbol</td>-->
                                        <td th:text="${#temporals.format(transaction.finalTime, 'dd-MM-yyyy HH:mm:ss')}">Transaction Time</td>
                                        <td th:text="${transaction.finalPrice}">Transaction Price</td>
                                        <td th:text="${transaction.amount}">Transaction Size</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr />
                        
                    </main>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="chartInfo" tabindex="-1" aria-labelledby="chartInfo" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="chartInfoLabel">Chart info for <span th:text="${symbol}"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <canvas id="myChart"></canvas>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
                integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script th:inline="javascript">
            const rawData = JSON.parse(/*[[${tData}]]*/);
            console.log("rawData is", rawData);
//            const datedData = rawData.map(d => d.x = new Date(d.x));
//            console.log("datedData is", datedData);

            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                            label: 'Price History',
                            lineTension: 0,
                            data: rawData,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                },
                options: {
                    scales: {
                        xAxes: [{
                                type: 'time',
                                time: {
                                    displayFormats: "day",
                                    parser: "YYYY-MM-DDTHH:mm:ss",
                                    tooltipFormat: 'll'
                                },
                            }],
                        yAxes: [

                        ]
                    }
                }
            });

        </script>
    </body>

</html>